In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
url= 'https://www.flipkart.com/search?q=samsung&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
req=requests.get(url)

In [4]:
nm=[]
pr=[]
rt=[]

In [ ]:
content=BeautifulSoup(req.content,'html.parser')
print(content)
name=content.find_all('div',{"class":"_4rR01T"})
price= content.find_all('div',{"class":"_g"})
price= content.find_all('div',{"class":"_30jeq3 _1_WHN1"})
rating=content.find_all('div',{"class":"_3LWZIK"})

In [15]:
for i in name:
    nm.append(i.text)
for i in price:
    pr.append(i.text)
for i in rating:
    rt.append(i.text)

In [24]:
data={'NAME':nm,'PRICE':pr,'RATING':rt}
    df=pd.DataFrame(data)
    print(df)
    df.to_csv('18it095_Pavan Patel.csv')